# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
Logs/

# Unity package cache
Packages/com.unity.*

# Visual Studio / JetBrains Rider
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# Crash logs
sysinfo.txt

# LFS veya büyük dosya uyarıları
*.dll
*.dylib
*.exe

# Burst cache
**/com.unity.burst*/**

# Don't commit by mistake
*.apk
*.aab
*.ipa
